.BoardStyle
{
    position: absolute;
    margin: 10px;
    color: #000;
    display: flex;
    justify-content: center;
    font-weight:500;
    height: 50px;
    display: flex;
    flex-direction: column;
    background: green;
    width: 125px;
    height: 100px;
    border-radius: 10px;
}